Django>=5.2,<5.3
djangorestframework>=3.15,<3.16
djangorestframework-simplejwt>=5.4,<5.5
django-filter>=25.1,<26
drf-spectacular>=0.28,<0.29
django-cors-headers>=4.7,<5
python-decouple>=3.8,<4
psycopg[binary]>=3.2,<4
gunicorn>=23,<24
whitenoise>=6.8,<7
redis>=6,<7
celery>=5.4,<6
sentry-sdk>=2.27,<3
